@CHARSET "ISO-8859-1";

body {
	background-color: #e3e3e3;
	background-image: url('../images/bg.jpg');
	background-attachment: fixed;
}

.align-left {
	text-align: left;
}

#popup_delete{
	width: 100px !important;
}
.clear {
	clear: both;
}

.logo {
	height: 25px;
}

.avatar {
	height: 160px;
	width: 160px;
	margin-bottom: 10px;
}

.float-right {
	float: right;
}

.header-taps {
	position: fixed;
	top: 0;
	z-index: 100;
}

.footer-taps {
	margin: 10px auto;
	text-align: center;
	color: #c3c3c3;
	font-family: Calibri;
	font-size: 0.8em;
}

.mini-padding {
	padding-left: 20px;
}

.hide {
	display: none;
}

.in-bl {
	display: inline-block;
}

textarea {
	font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica,
		sans-serif;
	font-weight: normal;
	font-style: normal;
	cursor: text;
}

.row-taps {
	padding: 20px;
	padding-top: 0px;
	background-color: #fff;
}

.center-taps {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.left-taps {
	float: left !important;
}

.right-taps {
	float: right !important;
}

.chart-report {
	width: 640px;
	height: 480px;
	background-color: white;
}

.shadow-taps {
	-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5) !important;
	-moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5) !important;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5) !important;
}

.container-taps {
	padding-top: 40px;
}

.span-ranking-taps {
	width: 540px;
	margin-left: 0px !important;
	margin-right: 10px;
}

/*===== WIZARD ===== */

fieldset {
	border: none;
	width: 100%;
	padding: 20px !important;
}

legend {
	font-size: 18px;
	margin: 15px 0 0 0 !important;
	padding: 10px 0px;
	color: #b0232a;
	font-weight: bold;
}

.prev-wizard, .next-wizard {
	border: 1px solid slateblue !important;
	padding: 10px 20px !important;
	background-color: slateblue !important;
	color: #fff !important;
	text-decoration: none;
}

.prev-wizard:hover, .next-wizard:hover {
	color: slateblue !important;
	background-color: #fff !important;
}

.prev-wizard {
	float: left;
}

.next-wizard {
	float: right;
}

#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
}

#steps li {
	font-size: 24px;
	float: left;
	padding: 10px;
	color: #b0b1b3;
	border: 1px solid #b0b1b3;
	margin-right: 20px;
	margin-top: 20px;
	width: 20%;
}

#steps li span {
	font-size: 13px;
	display: block;
}

#steps li.current {
	color: white;
	border: 1px solid slateblue;
	background-color: slateblue;
}

#steps li.passed {
	color: white;
	border: 1px solid green;
	background-color: green;
}


.submit-wizard {
	border: 1px solid green !important;
	padding: 10px 30px !important;
	background-color: green !important;
	color: #fff !important;
	text-decoration: none;
	float: right;
	margin-top: -58px;
	margin-right: 20px;
}

.submit-wizard:hover {
	color: green !important;
	background-color: #fff !important;
}